:root {
    --primary-color: #4161d3;
    --bs-highlight-bg: linear-gradient(to top, yellow 50%, transparent 50%) !important; 
}

#navMenu > a {
    color: black !important;
}

#navMenu a.active {
    font-weight: bold;
    color: blue !important;
    border-bottom: 2px solid blue;
}

.font-weight-bold {
    font-weight: bold !important;
}

mark {
    font-weight: bold;
    background: var(--bs-highlight-bg);
    font-family: Poppins;
}

h1, h2, h3, h4, h5 {
    font-weight: bold !important;
    color: var(--primary-color) !important;
}

#quote {
    font-size: 1rem !important;
}

#loginContainer {
    background-color: rgb(161,209,245, 0.2);
}

.animated-section {
    opacity: 0;
}

#section-education {
    left: 200px;
}

#section-motto {
    right: 200px; 
}

@media (max-width: 768px) {
    .navbar-brand {
        justify-content: center !important;
    }

    #navMenu {
        justify-content: center !important;
    }
}